{{!-- articles.hbs - 文章页面：Phase 1 扁平化展示站点入口；Phase 2 将优先渲染 articlesItems --}}
<div class="page-template page-template-articles">
    {{> page-header}}
    <div class="flat-sites-grid">
        {{#if articlesItems.length}}
            {{#each articlesItems}}
                {{> site-card style=@root.siteCardStyle}}
            {{/each}}
        {{else}}
            {{#each flatCategories}}
                {{> flat-category}}
            {{/each}}
        {{/if}}
    </div>
</div>
