{{!-- friends.hbs - 友链页面：扁平化并列卡片展示（不显示分类标题） --}}
<div class="page-template page-template-friends">
    {{> page-header}}
    <div class="flat-sites-grid">
        {{#each flatCategories}}
            {{> flat-category}}
        {{/each}}
    </div>
</div>
